<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<center>
    <h1>Index</h1>

    <div>
        <span id="user" th:if="${userName} != null" th:text="${userName}"></span>
        <a th:href="@{/logout}" th:if="${userName} != null" role="button">Logout</a>

        <a th:href="@{/accounts/login}" th:if="${userName} == null" role="button">로그인</a>
    </div>

    <a th:href="@{/mypage}">myPage</a>

</center>
</body>
</html>